extends ../layout.pug

block title
	h1.cd.hidden-xs 3D PRINTING!
	h1.cd.hidden-sm.hidden-md.hidden-lg 3D Prints!

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd At the University of Maryland, I had access to a laser cutters, CNC milling, and a variety of 3D printers. I built a solder fume extractor, a replacement stand for my lamp, a mount for a bike light, VR Goggles for my&nbsp;
			a(href="CAPSTONE.html") senior capstone project
			| , and a microfluidic temperature stage for&nbsp;
			a(href="microfluidics.html") undergraduate research
			| &nbsp;among other projects.

	hr.hr-padded

	h4.cd Solder Fume Extractor
	p.cd I built a solder fume extractor using an old fan leftover from a freshmen year engineering course, 3D printed parts, and an Arduino. I wrote a simple Arduino script that modulates the fan speed based on a potentiometer dial. On the back of the fan is a 3D printed ventilation grille that can also hold a carbon air filter sheet. On the front is an adapter to connect to a ventilation hose
	figure.figure
		img(src=path + "imgs/3DPrints/Fan Mount.jpeg" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center 3D Printed Components
	figure.figure
		img(src=path + "imgs/3DPrints/Fan Controller.JPG" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center Arduino Controller
	figure.figure
		img(src=path + "imgs/3DPrints/Fan Setup.jpg" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center In Use in my old apartment
	//- figure.figure
	//- 	img(src=path + "imgs/3DPrints/Fan New Setup.JPG" style="max-width: 550px").small-cd.center-fig
	//- 	figcaption.figure-caption.text-center In use in my new apartment

	h4.cd Replacement Lamp Base
	p.cd The original IKEA base for this lamp shattered in half, so I redesigned and printed a replacement base.
	figure.figure
		img(src=path + "imgs/3DPrints/cover.jpg" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center The broken lamp base
	figure.figure
		img(src=path + "imgs/3DPrints/cover_lamp_base.jpg" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center The new and improved version

	h4.cd Bike Light Adapter
	p.cd My panniers obscure my bike post-mounted rear tail light and I needed a more visible mount to make commuting safer. The mount bolts right onto the rear rack and to the bike light. In the next version, the light will sit nearly flush to the rear rack to reduce the likelihood of being knocked off.
	figure.figure
		img(src=path + "imgs/3DPrints/bikelight_close.JPG" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center The mount fit right into the bike rack and had nibs to hold the light in place and nut cutouts to make installation easier
	figure.figure
		img(src=path + "imgs/3DPrints/bikelight_far.JPG" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center The bike light adapter

	h4.cd Adjustable Corner Clamp
	p.cd To build a small speaker box, I designed a corner clamp that can be adjusted to fit wood between 1/8" - 1" thick. Once printed, you need a single dime and then an M3 nut and bolt.
	figure.figure
		img(src=path + "imgs/3DPrints/speaker_box.jpg" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center The corner clamp in use
	figure.figure
		img(src=path + "imgs/3DPrints/speaker_box_and_sander.jpg" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center I also modified a sanding block I found online

	h4.cd Other Projects
	p.cd My other rapid prototyping were part of larger projects that are described in detail elsewhere. Click the below links to learn more:
	figure.figure
		img(src=path + "imgs/Capstone/3_projector.jpg" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center My capstone project prints.&nbsp;
			a(href="CAPSTONE.html")
				| Read more here
	figure.figure
		img(src=path + "imgs/Microfluidics/TurtleBot_Setup.jpg" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center My undergraduate research project prints.&nbsp;
			a(href="microfluidics.html")
				| Read more here

	.row.cd.footer-nav
		a(href="PhotoFrame.html").footer-link.col-xs-12.col-sm-6
			h4.footer-back
				.fa.fa-arrow-left
				| &nbsp;&nbsp;Raspberry Pi PhotoFrame
		a(href="4K.html").footer-link.col-xs-12.col-sm-6
			h4.footer-next
				| 4K for Cancer&nbsp;&nbsp;
				.fa.fa-arrow-right
