extends ../layout.jade

block title
	h1.cd.hidden-xs Stationless Bikeshare
	h1.cd.hidden-sm.hidden-md.hidden-lg Bikeshare

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd At the University of Maryland, I worked with 12 other students to build an open source stationless bikeshare as part of our four year Gemstone research program. I served in many roles, but contributed the most in leading the development of the full stack website and wireless access point.
		br
		p.cd In April 2016 we presented our thesis and have since released our&nbsp;
			a(href='https://www.gitbook.com/book/kyleking/gemstone-team-bikes-2016-thesis/details')
				| complete thesis document
			|  along with the&nbsp;
			a(href='https://github.com/KyleKing/TeamBIKES')
				| annotated source code
			|  behind our project.
		br
		a(href=path + "pdf/BIKES-Poster.pdf" target="_blank").unstyled.poster-container
			button.poster
				i.fa.fa-file-pdf-o.fa-1x
				|  Undergraduate Research Day Poster

	figure.figure
		img(src=path + "imgs/Bikeshare/bikeshare-06.jpg").small-cd
		figcaption.figure-caption.text-left Our team

	h4.cd.no-padding Stationless Bikeshare
	p.cd Bikeshares allow users to access a fleet of bikes spread throughout an urban area. They promote healthy lifestyles and sustainability among commuters, casual riders, and tourists. However, the central pillar of modern systems, the bike station, cannot be easily integrated into a compact college campus. Fixed stations lack the flexibility to meet the needs of college students who make quick, short-distance trips. Additionally, the necessary cost of implementing and maintaining each station prohibits increasing the number of stations for user convenience. Therefore, the team developed a stationless bikeshare based on a smartlock permanently attached to bicycles in the system. The smartlock system design incorporates several innovative approaches to provide usability, security, and reliability that overcome the limitations of a station centered design. A focus group discussion allowed the team to receive feedback on the early lock, system, and website designs, identify improvements and craft a pleasant user experience. The team designed a unique, two-step lock system that is intuitive to operate while mitigating user error. To ensure security, user access is limited through near field communications (NFC) technology connected to a mechatronic release system. The said system relied on a NFC module and a servo working through an Arduino microcontroller coded in the Arduino IDE. To track rentals and maintain the system, each bike is fitted with an XBee module to communicate with a scalable ZigBee mesh network. The network allows for bidirectional, real-time communication with a Meteor.js web application, which enables user and administrator functions through an intuitive user interface available on mobile and desktop. The development of an independent smartlock to replace bike stations is essential to meet the needs of the modern college student. With the goal of creating a bikeshare that better serves college students, Team BIKES has laid the framework for a system that is affordable, easily adaptable, and implementable on any university expressing an interest in bringing a bikeshare to its campus.


	figure.figure
			a(href="https://www.youtube.com/watch?v=tg4aXH1SqxQ")
				img(src=path + "imgs/Bikeshare/RedBarBikesCommercial.png").small-cd
			figcaption.figure-caption.text-left RedBar Bikes Commercial (Click to Watch on Youtube)


	h4.cd.no-padding The Technology
	p.cd To use our system, a user can load our website's campus map and tap any available bike icon to instantly reserve the bike. The reservation guarantees the user a bike at the rack they selected, but they can simply pick up any bike that they see. Once they arrive at a bike, the user taps their RedBars NFC card, which sends an encrypted request through our distributed ZigBee mesh network, to the nearest wireless access point, and to the website backend for confirmation. When approved the mechatronic lock releases the rental pin. The user rotates the lock into riding position and is free to go to any where they would like.

	//- figure.figure
	//- 	img(src=path + "imgs/Bikeshare/bikeshare-10.png").small-cd
	//- 	figcaption.figure-caption.text-left Smartlock components that are placed on each bike
	//- figure.figure
	//- 	img(src=path + "imgs/Bikeshare/bikeshare-12.png").small-cd
	//- 	figcaption.figure-caption.text-left Communication pathway from smartlock to website
	//- figure.figure
	//- 	img(src=path + "imgs/Bikeshare/bikeshare-11.png").small-cd
	//- 	figcaption.figure-caption.text-left System diagram of router system to handle multiple smartlock-equipped bikes

	figure.figure
		img(src=path + "imgs/Bikeshare/Mesh_Single.png").small-cd
		figcaption.figure-caption.text-left Each individual bike has an Arduino/Xbee unit, which communicates with the distributed XBee routers, that send information back to a centralized wireless access point, a Raspberry Pi "coordinator"
	figure.figure
		img(src=path + "imgs/Bikeshare/Mesh_System.png").small-cd
		figcaption.figure-caption.text-left Network Diagram: With the additional of a few coordinators, the system can quickly expand

	p.cd The bike lock was designed to be locked only to proper bike hoops, the standard bike rack on campus. The lock sits on the seat post and although not shown, is now designed to be rotated away from the bike to lock. There is additionally a pin inside the lock box that immobilizes one of the cuffs. Through paper sketching, CAD design, and 3D printed parts, we've been able to gain rapid feedback on the design and make many iterations.
	figure.figure
		img(src=path + "imgs/Bikeshare/Lock_and_Electronics.png").small-cd
		figcaption.figure-caption.text-left Our Smart Lock Concept
	figure.figure
		img(src=path + "imgs/Bikeshare/LockAnimation.gif").small-cd
		figcaption.figure-caption.text-left Animation depicting the lock actuation aspects
	figure.figure
		img(src=path + "imgs/Bikeshare/LockInUse.gif").small-cd
		figcaption.figure-caption.text-left Actual lock prototype in use

	h4.cd.no-padding The Website
	p.cd I put together the coordinator and website. The coordinator connected to the ZigBee network then relayed information back and forth to the remote database to determine if access should be allowed or denied. The information would then be distributed throughout the network in real time.

	figure.figure
		img(src=path + "imgs/Bikeshare/Access.gif").small-cd
		figcaption.figure-caption.text-left Authentication Demonstration (1/8 speed)

	p.cd I didn't start as the team's web developer. I built my first website in December of 2013 with static HTML and CSS files. A few months later, I began teaching myself more advanced website development with the goal of solving one of our leading issues, inventory management and system coordination. I researched many different frameworks, such as Node/MEAN, Firebase, Native iOS, and more, but selected Meteor for its cross-platform support, optimistic user interface, and growing package library. I was equally excited to be part of a up and coming platform and contribute to a growing community.

	//- FIXME: Doesn't work without METEOR....
	//- p.cd To quickly iterate and develop my skills, I set my first priority to build a real time map. Having a map will be crucial to the core function of the website, as most of the data will be geographic coordinates. I tapped into the Meteor's '.observe' query to fire events on database updates. Take a look at the code behind the application and a demo of the functionality.

	//- h4.cd Real Time Map Demo
	//- row.cd
	//- 	button#DeleteOldBikes.map Randomize all bike locations
	//- 	//- button#DeleteOldBikes Randomize All Bike Statuses (Icons)
	//- #DemoMap.cd.cd-map
	//- row.cd
	//- 	span #{BikeNume}
	//- 	button(id="{{BikeID}}") Delete Me
	//- 	button(id="{{BikeID}}") Generate a New Random Status

	//- .cd.hidden-xs
	//- 	+bikeshare_map

	h5.cd Iterate over user feedback
	p.cd We ran a focus group midway through our development to receive feedback on our business model, website, and lock design. We received feedback on all aspects of our project that helped guide our development. This focus group and the constant feedback from friends, coworkers, and classmates have helped push through three major user interface overhauls, prioritize feature requests, and reduce bloat.

	p.cd From all the feedback, several new features emerged to meet user needs. One such feature was for bike reservations that would guarantee a bike's position when a user was leaving class. Extending the real time map, I designed a simple user experience that any available bike icon could be tapped to request a reservation. Adding a cron task, the reservation can thus be timed out reliably freeing up a bike if the user decides against renting.

	h5.cd Website Screen Shots

	//- figure.figure
	//- 	img(src=path + "imgs/Bikeshare/Mobile_App_Preview.png").small-cd.center-fig
	//- 	figcaption.figure-caption.text-center Screenshots from an iPhone 5

	//- .small-juxtapose
	//- 	+juxtapose(id='website')

	//- p.cd
	//- 	a(href="/pdf/1.png" target="_blank").unstyled.wrap-icon
	//- 		i.fa.fa-photo.fa-3x
	//- 	| Website screen shot (no style yet) [old]
	//- p.cd
	//- 	a(href="/pdf/1-macaw.png" target="_blank").unstyled.wrap-icon
	//- 		i.fa.fa-photo.fa-3x
	//- 	| Website screen shot (no style yet) [new]

	figure.figure
		img(src=path + "imgs/Bikeshare/WS_map.png" style="border-color: black;border-width: 0.5px;border-style: solid;").small-cd.center-fig
		figcaption.figure-caption.text-center Interactive Website Map

	figure.figure
		img(src=path + "imgs/Bikeshare/WS_user.png" style="border-color: black;border-width: 0.5px;border-style: solid;").small-cd.center-fig
		figcaption.figure-caption.text-center An example user profile

	figure.figure
		img(src=path + "imgs/Bikeshare/WS_about.png" style="max-width: 300px;").small-cd.center-fig
		figcaption.figure-caption.text-center The archived about page

