extends ../layout.jade

block title
	h1.cd.hidden-xs Senior Capstone
	h1.cd.hidden-sm.hidden-md.hidden-lg Capstone

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd At the University of Maryland, I am actively working with 4 fellow senior bioengineering students on an immersive experience device for pediatric patients. Currently, when an MRI is needed, pediatric patients are given anesthesia; however, there is a growing body of literature suggesting that this practice can lead to short term and possibly long term neurological deficits, along with additional cost, risks for respiratory issues, and other immediate concerns. Our approach is to create a device that follows the user from the hallway/waiting room to inside the MRI and all the way back out.
		//- a(href=path + "pdf/BIKES-Poster.pdf" target="_blank").unstyled.poster-container
		//- 	button.poster
		//- 		i.fa.fa-file-pdf-o.fa-1x
		//- 		| Capstone Presentation Day Poster

	h4.cd The Experience
	p.cd Since no magnetic materials can enter the MRI room, we designed a three step approach. The first is an iPod touch that establishes the story and allows for the child to make selections for the rest of their experience. Once ready to enter the MRI room, the iPod is removed and replaced with a the static transparency is visible. Without the iPod, the child can be moved to the MRI bed, but will still be entertained. Our static transparency is similar to the View-Master experience and could include a Where's Waldo game or a calming ocean scene to extend the story established by the iPod experience. THe third step is a projector system. Many MRI's have a long throw projector that is just outside the room and projects through a hole in the wall to a screen behind the MRI. By removing the screen, the projector can be extended directly onto a special white screen on the goggles. Once finished, the process can be reversed as the child is brought back out to the hallway.

	figure.figure
		img(src=path + "imgs/Capstone-ipod.png").small-cd
		figcaption.figure-caption.text-left Step 1. iPod Touch

	figure.figure
		img(src=path + "imgs/Capstone-transparency.png").small-cd
		figcaption.figure-caption.text-left Step 2. Static Transparency

	figure.figure
		img(src=path + "imgs/Capstone-projector.png").small-cd
		figcaption.figure-caption.text-left Step 3. Projector Surface

	figure.figure
		img(src=path + "imgs/Capstone-mri.png").small-cd
		figcaption.figure-caption.text-left Step 3. Shown inside the MRI with the projector

	figure.figure
		img(src=path + "imgs/Capstone-side_profile.jpg").small-cd
		figcaption.figure-caption.text-left Step 3. Shown on a real person

	h4.cd Step 3. The Projector
	p.cd This step is very useful because it vastly improves the MRI experience for anyone. Instead of looking at a small screen through the mirror and seeing the claustrophobia-inducing tube in your peripheral vision, you see a view-filling stereoscopic image. Even for adults and older kids, this would be a much more relaxing and enjoyable experience.

	h4.cd Engineering Constraints
	p.cd There were many constraints in this design, such as designing a functional system without any electronic components, the tight space inside the MRI head coil, and patient comfort. To give a small sampling of how some of these constraints were overcome, here are a few design highlights:

	h5.cd Multiple Width Paddle System
	p.cd To prevent the phone or later projector screens from falling out, but to still fit within the tight constraints of the MRI head coil, I designed a paddle system using hidden rubber bands. The paddles are easy to press with one hand, while inserting the next part of the three step design. They quickly bounce back and even support the weight of an iPod when a user may vigorously shake their head from side to side.

	h5.cd Snap Together Component Design
	p.cd To make components interchangeable and to account for the limitations of 3D printing, I designed a piecewise method of designing, printing, and assembling the components. Using a round hole and a zero-tolerance octagon pin, each version of the design could be securely attached to the body and snap together.

	h5.cd TBD
	p.cd TBD

	//- figure.figure
	//- 	img(src=path + "imgs/Capstone-mri.png").small-cd
	//- 	figcaption.figure-caption.text-left Step 3. Shown inside the MRI with the projector
