extends ../layout.pug

block title
	h1.cd.hidden-xs Senior Capstone
	h1.cd.hidden-sm.hidden-md.hidden-lg Capstone

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd At the University of Maryland, with a team of 4 fellow senior bioengineering students, we created an immersive experience device for pediatric patients. Typically, when an MRI is necessary, pediatric patients are given anesthesia; however, there is a growing body of literature suggesting that this practice can lead to short term and possibly long term neurological deficits, along with additional cost, risks for respiratory issues, and other immediate concerns. Our approach was to create a device that follows the user from the waiting room to inside the MRI and all the way back out.
		a(href=path + "pdf/CAPSTONE-poster.pdf" target="_blank").unstyled.poster-container
			button.poster
				i.fa.fa-file-pdf-o.fa-1x
				| &nbsp;Capstone Presentation Day Poster

	hr.hr-padded

	h4.cd The Experience
	p.cd Our goal was to create an immersive experience that kids would love and technicians could easily implement into their routine. When implemented, MRI technicians could rely on our engaging solution rather then sedating kids for necessary MRI scans.
	p.cd Meeting with technicians, doctors, and other stakeholders, we realized that a majority of the fear came from kids terrified of the warning signs near the MRI and the room itself. Our solution thus had to start in the hallway and seamlessly follow the child through the MRI and back out into the hallway. Since no magnetic or ferrous items could enter the MRI, we broke our solution into three steps to best fit into the technician's regular routine.
	p.cd 1. The first step is an interactive app built on the Google cardboard platform. The virtual reality app kicks off the interactive experience. The theme is selected by the child from our inventory of content and they could choose to go on a submarine adventure or to journey into outer space.
	figure.figure
		img(src=path + "imgs/Capstone/Capstone-ipod.png" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center Step 1. iPod Touch

	p.cd 2. Once ready to enter the room, the technician needs to move the patient about 6 meters from a magnetic-safe environment to the MRI bed. Once the app had finished the first stage, the technician would be ready to slide out the iPod touch and expose the snapped-on transparency. Similar to the View Master toy, the patient could continue their experience with a calming ocean scene or an exciting space helmet as the technician rolls them on a stretcher to the MRI.
	figure.figure
		img(src=path + "imgs/Capstone/Capstone-transparency.png" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center Step 2. Static Transparency

	p.cd 3. Once in the MRI bed, the technician could slide in the special projector screen lenses and snap-off the transparency. The third step utilizes a long throw projector that is already installed in most MRI's. The projector is placed at a safe distance and projects onto a mirror above the patient. In our case, the projector is angled down to the special projector lenses that fill the patient's field of view with a video chosen by the technician and patient.
	figure.figure
		img(src=path + "imgs/Capstone/Capstone-projector.png" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center Step 3. Projector Surface
	figure.figure
		img(src=path + "imgs/Capstone/Capstone-mri.png" style="max-width: 650px").small-cd.center-fig
		figcaption.figure-caption.text-center Step 3. Shown inside the MRI with the projector

	p.cd Once successfully completed, the process can be walked back in reverse to bring the patient back out into the waiting room to see their parents

	//- h4.cd Step 3. The Projector
	//- p.cd This step is very useful because it vastly improves the MRI experience for anyone. Instead of looking at a small screen through the mirror and seeing the claustrophobia-inducing tube in your peripheral vision, you see a view-filling stereoscopic image. Even for adults and older kids, this would be a much more relaxing and enjoyable experience.

	h4.cd Engineering Constraints
	p.cd A critical part of our design process was rapid prototyping. With the prototypes we were able to demonstrate a simple mechanical process for moving between the three stages and demonstrate the device's use to an MRI technician. The design featured subtle rails that guided and held the transparency screens in place, bilateral split design to accommodate most MRI head coils, and several other design features added over the multiple iterations.

	figure.figure
		img(src=path + "imgs/Capstone/1_phone.jpg" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center Step 1. iPod Touch

	figure.figure
		img(src=path + "imgs/Capstone/2_transparency.jpg" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center Step 2. Static Transparency

	figure.figure
		img(src=path + "imgs/Capstone/3_projector.jpg" style="max-width: 550px").small-cd.center-fig
		figcaption.figure-caption.text-center Step 3. Projector Surface

	figure.figure
		img(src=path + "imgs/Capstone/evolution.jpg" style="max-width: 750px").small-cd.center-fig
		figcaption.figure-caption.text-center The progression of designs

	h4.cd Design Highlights
	p.cd Part of the engineering challenge was to decrease the overall footprint of the goggles to fit within the tight space constraints of the MRI head coils that we saw first hand and researched. One challenge was to hold both the custom screen inserts and the iPod with a sturdy, easy to use, and MRI safe mechanical design. We devised a rubber band-powered paddle closure. When the iPod touch is loaded, the paddles sit at the outermost position to accommodate the iPods' width. The outer position also provides the most rubber band resistance to keep the iPod stable under typical patient movement. The paddles have a trigger on the top of the goggles that is easily reachable by a technician that would allow the iPod to seamlessly be slid in/out and replaced with the display screens. For improved aesthetics, the paddles were modified from the original version to conceal the rubber band closure and to provide a better ergonomic design.

	figure.figure
		img(src=path + "imgs/Capstone/rubberband_clasp.jpg" style="max-width: 750px").small-cd.center-fig
		figcaption.figure-caption.text-center Concealed clasp action

	//- p.cd The goggles were designed specifically for the bird-cage style MRI head coils as a proof of concept. The design could be modified to work with common MRI variations, such MRI head coils that have eye holes, like goggles.

	h5.cd Awards
	p.cd We were recognized at the Senior Capstone event with both a tie for First Place and tie for the Impact Award. See more information on the official&nbsp;
		a(href="http://bioe.umd.edu/news/news_story.php?id=9781")
			| UMD Bioengineering Department Website
		|.
