extends ../layout.jade

block title
	h1.cd.hidden-xs Current Projects
	h1.cd.hidden-sm.hidden-md.hidden-lg Current

block Slide_In_Panel_Content
	h4.cd What I'm Working on Now
	ul.cd
		li Side-Projects: Raspberry Pi alarm clock/stereo system
		li Open Source Software:
			a(href="https://github.com/aldeed/meteor-tabular/issues/162")
				|  Tabular Tables PR to support client-side collection helpers
		li Open Source Software: Popclip add-on to quickly link content in a Google document
		li Class Project: Ecological Analysis of the Black-Footed Penguin

	h4.cd Previous Projects
	p.cd These will be updated over the next few weeks, so feel free to check back
	ul.cd
		li Open Source Software
			ul.cd
				li
					a(href="https://atmospherejs.com/kyleking/juxtapose-js") Juxtapose.JS Meteor package
					|  built to make the slider images on this site easier for other Meteor developers
				li
					a(href="https://atmospherejs.com/kyleking/customizable-bootstrap-stylus") Customizable Bootstrap Stylus Meteor package
					|  which allows for users to on the fly select Bootstrap components
				li
					a(href="https://github.com/aldeed/meteor-tabular/issues/162") Tabular Tables PR
					|  to share example code for multi-column sort
				li
					a(href="https://github.com/PhilippSpo/momentum-flow-router/pull/7") Momentum Router PR
					|  that offered reduced redundancy and simple configuration for navigation animations

		li Class Projects (Bioengineering is very cool)
			ul.cd
				li Built a pulse oximeter and 3D-printed finger clamp
				li MatLab-based bioinformatics projects and genetic analysis
				li MatLab for bioimaging

		li Chrome Extensions
			ul.cd
				li I created a
					a(href="https://chrome.google.com/webstore/detail/web-clock-ux/bemigfbpfihgefbnbncjddfbgknchfaf") simple improvement to the WebClock software
					|  and released the change as a chrome extension that was used by all four interns this summer

				li In a writing course, I noticed that we all had trouble viewing one of the modules, so I wrote an
					a(href="https://chrome.google.com/webstore/detail/elms-and-crocodoc-fullscr/plmlhafmgopajgbdobknemohlcnohbgb?utm_source=gmail") extension that made the frame full screen
					|  and shared it with the class.

		li Designed waterproof and secure housing for a Microduino GPS Tracker, which was partially used during my ride with the 4K for Cancer Trip
		li Alumni Cup Team Leader - Rube Goldberg Style Engineering Competition

	h4.cd Some Pictures

	figure.figure
		img(src=path + "imgs/Next/3d_printing-1.jpg").small-cd
		figcaption.figure-caption.text-left 3D printing to the rescue!

	figure.figure
		img(src=path + "imgs/Next/alarm_clock-1.jpg").small-cd
		figcaption.figure-caption.text-left Planning my own alarm clock with a little bit of primary research

	figure.figure
		img(src=path + "imgs/Next/microfluidics-15.jpg").small-cd
		figcaption.figure-caption.text-left Fresh PMMA chips off of the CNC

	figure.figure
		img(src=path + "imgs/Next/microfluidics-17.jpg").small-cd
		figcaption.figure-caption.text-left Preparing to press a COC plaque

	//- FIXME: Not supported in non-Meteor Application
	//- +juxtapose(id='next-1')
	figcaption.figure-caption.text-left A late night work session on the Alumni Cup Rube Goldberg machine

	figure.figure
		img(src=path + "imgs/Next/alumni_cup-7.jpg").small-cd
		figcaption.figure-caption.text-left The final creation for the Alumni Cup