extends ../layout.jade

block title
	h1.cd.hidden-xs Raspberry Pi PhotoFrame
	h1.cd.hidden-sm.hidden-md.hidden-lg PhotoFrame

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd A Raspberry Pi powered smart photo frame / slide show. Anyone can upload photos using Balloon.io, which are added to the display and cycled using FBI. The frame was a Christmas gift to my girlfriend that I've continued to improve and update.
		a(href="https://github.com/KyleKing/PiSlideshow").unstyled.poster-container
			button.poster
				i.fa.fa-file-pdf-o.fa-1x
				|  Github repository

	figure.figure
		img(src=path + "imgs/PhotoFrame/cover.jpg").small-cd
		//- figcaption.figure-caption.text-left TODO

	figure.figure
		img(src=path + "imgs/PhotoFrame/cover_alt.jpg").small-cd
		//- figcaption.figure-caption.text-left TODO

	h4.cd How it works

	p.cd Balloon.io allows you to setup a website where anyone can upload images that are placed into the Apps folder of the linked Dropbox account, which works on mobile and desktop. The app pulls all images from the set Dropbox folder and loads them locally. Once completely downloaded, the FBI task is started to update the image at short time intervals. There is additional logic to handle stopping and starting the FBI task to keep the display always up to date as new photos are downloaded and added to the cycle.

	p.cd The photo frame can additionally be turned on and off. I wired a GPIO pin to the display controller that toggles the display state from on in the afternoon and off at night.

	h4.cd The hardware

	p.cd I modified an IKEA frame to hold a small TFT display with space for airflow and mounting point for the Raspberry Pi and driver board. I stacked a piece of thick white paper for a crisp edge around the display then three pieces of laser cut acrylic. The first piece holds the display, the second provides space for the ribbon cable, and the third has air holes for circulation and is the surface that the boards are mounted to with standoffs

	figure.figure
		img(src=path + "imgs/PhotoFrame/lc_base_layer.jpg").small-cd
		//- figcaption.figure-caption.text-left TODO

	figure.figure
		img(src=path + "imgs/PhotoFrame/stacked_lc_acrylic.jpg").small-cd
		//- figcaption.figure-caption.text-left TODO


	p.cd Three 3D printed feet hold everything sandwiched in place along with the original stand for support. Just on the inside surface of the stand is a small perf board with an indicator LED and pushbutton. The pushbutton allows for manual updates of the display

	figure.figure
		img(src=path + "imgs/PhotoFrame/3D_printed_feet.jpg").small-cd
		//- figcaption.figure-caption.text-left TODO

	figure.figure
		img(src=path + "imgs/PhotoFrame/the_guts.jpg").small-cd
		//- figcaption.figure-caption.text-left TODO
