extends ../layout.pug

block title
    h1.cd.hidden-xs QUEST
    h1.cd.hidden-sm.hidden-md.hidden-lg QUEST

block Slide_In_Panel_Content
    .summary.cd
        h4.cd Summary
        p.cd Quality Enhancement Systems and Teams (QUEST) is a program designed to teach a multidisciplinary cohort of students how to implement quality management, process improvement, and system design. The program encompasses 3 main course and 2 electives. While I was unable to fit the final course into my schedule and complete the program, I learned an incredible amount from the other courses. I was exposed to Six Sigma, the Quality Management Tools, and Design Thinking. Below are two highlighted projects.
        a(href="https://www.rhsmith.umd.edu/programs/undergraduate-programs/academics/fellows-special-programs/quest").unstyled.poster-container
            button.poster
                i.fa.fa-file-pdf-o.fa-1x
                | &nbsp;Official QUEST Website

    hr.hr-padded

    h4.cd BMGT190H: QUEST Introductory Course
    p.cd Our client, the Division of Information Technology, came to us with the problem of an inefficient and archaic system for tracking incident reports of laptop repairs for their help desk. After going through the Six Sigma, Define, Measure, Analyze, Improve, and Control process (DMAIC), our team has come up with a recommendation that not only solves the problem of the initial scope, but also improves the overall customer experience with the DIT Help Desk.
    p.cd We interviewed both customer facing and backend staff about inefficiencies in the process and other issues they encounter on a daily basis. Based on the information we received from the staff and from Mr. Tender, we have a three core recommendations for DIT. They are: switch to a paperless labeling system for the laptops, improve the existing data entry forms and reduce current barriers to access these tickets digitally, and redesign the physical workspaces and layout of the help center.
    p.cd We came to our conclusions using all steps of the Six Sigma DMAIC process and below are a few of the diagrams we utilized:
    figure.figure
        img(src=path + "imgs/quest/spaghetti.png").small-cd
        figcaption.figure-caption.text-left Spaghetti Diagram tracking the flow of resources through the physical space
    figure.figure
        img(src=path + "imgs/quest/flow_chart.png").small-cd
        figcaption.figure-caption.text-left Flow diagram of ticketing process
    figure.figure
        img(src=path + "imgs/quest/pres4final.png").small-cd
        figcaption.figure-caption.text-left Preview of the&nbsp;
            a(href=path + "imgs/quest/pres4final.pdf") full poster PDF file
    p.cd The&nbsp;
        a(href=path + "imgs/quest/paper3.pdf") full report and recommendations can be accessed here
        | &nbsp;and the&nbsp;
        a(href=path + "imgs/quest/presentation3.pptx") full presentation can be accessed here
        | .

    h4.cd BMGT390H
    p.cd The follow-up class to 190 focused on the application of Six Sigma and building a single long-term group project. For our project, we prototyped an application to improve the patient-doctor experience. I developed the prototype in Meteor and we were invited to present the project at the Fall QUEST showcase.
    p.cd The&nbsp;
        //- VitaLink Presentation.pptx
        a(href=path + "imgs/quest/VitaLink Presentation.pdf") full presentation can be accessed here
        | .
