extends ../layout.pug

block title
    h1.cd.hidden-xs Maryland Zoo
    h1.cd.hidden-sm.hidden-md.hidden-lg Zoo

block Slide_In_Panel_Content
    .summary.cd
        h4.cd Summary
        p.cd I started volunteering at the Maryland Zoo in Baltimore in the Junior Zoo Crew summer program, then advanced to the role of a Junior Keeper where I worked behind the scenes. I accumulated over 630 volunteer service hours during my free weekends over the school year and summer. I assisted in the cleaning, feeding, and enrichment of Black-Footed Penguins, Reticulated Giraffes, Leopards, Okapis, Sitatunga, Warthogs, and several other species. In 2010, I was selected as Junior Zoo Keeper of the Year.
        a(href="http://www.marylandzoo.org/support-the-zoo/volunteer/youth-programs/").unstyled.poster-container
            button.poster
                i.fa.fa-chain.fa-1x
                | &nbsp;&nbsp;Junior Zoo Crew Program Website

    hr.hr-padded

    h4.cd Junior Zoo Crew
    p.cd Over my first summer at the zoo, I volunteered in the Junior Zoo Crew, which was a structured program for ages 13-17. During the program we participated in educational events, such as when a member of the ZOOmobile came to talk about endangered species and brought in a Serval and other outreach animals. We completed service projects, such as restoring a statue and garden that had become a small overgrown bamboo forest or cleaning the outdoor Lion exhibit.

    h4.cd Volunteer Positions
    p.cd After finishing the junior zoo crew program, I returned in the winter as a Junior Interpreter for the Maryland Wilderness where I would meet with guests, tell them about the zoo, and answer questions. In the summer, I moved to the Junior Keeper position and worked in both the African Watering Hole and Giraffe House. One of the best parts of the Giraffe House was refilling the feeder boxes where we would occasionally be eye-level and within arms-reach of the Giraffes. In the African Watering Hole, one of the coolest experiences was helping train the Rhinos to prepare for shots. They were taught to rest against the 12" thick steel bars that separated the keepers from Rhinos and we would pat the Rhino simulating a veterinarian inspection, while feeding them Alfalfa hay.
    figure.figure
        img(src=path + "imgs/Zoo/anulijuma.jpg").small-cd
        figcaption.figure-caption.text-left
            a(href="http://www.marylandzoo.org/2013/11/two-female-giraffe-join-zoo-herd/") Source

    h4.cd Junior Keeper: African Watering Hole
    p.cd I spent the most time in the African Watering Hole caring for the African Black Footed Penguins and Cormorants. The penguins were particularly exciting to work with because we would be able to closely interact with them. On a daily basis, I would clean the mats by the nest boxes, blow bubbles and setup toys for enrichment, or provide swimming lessons to the young penguin chicks.
    figure.figure
        img(src=path + "imgs/Zoo/keeper_of_year.jpg").small-cd
        figcaption.figure-caption.text-left Junior Keeper of the Year Award
    figure.figure
        img(src=path + "imgs/Zoo/keepers.jpg").small-cd
        figcaption.figure-caption.text-left Me with the full time staff for the Penguin Exhibit at Rock Island
    figure.figure
        img(src=path + "imgs/Zoo/BDF21316-video_still.png").small-cd
        figcaption.figure-caption.text-left Penguin feeding time
    figure.figure
        img(src=path + "imgs/Zoo/DSC_0082_feed_count.jpg").small-cd
        figcaption.figure-caption.text-left Keeping a tally of fed penguins
    figure.figure
        img(src=path + "imgs/Zoo/DSC_0005_badge.jpg").small-cd
        figcaption.figure-caption.text-left Playing with my keeper ID badge
    figure.figure
        img(src=path + "imgs/Zoo/CSC_0053_maggie.jpg").small-cd
        figcaption.figure-caption.text-left Wheezy the penguin posing for the camera
    //- figure.figure
    //-     img(src=path + "imgs/Zoo/DSC_0062_swim1.jpg").small-cd
    //-     figcaption.figure-caption.text-left Wheezy
    figure.figure
        img(src=path + "imgs/Zoo/DSC_0067_swim2.jpg").small-cd
        figcaption.figure-caption.text-left Peanut gliding through the water
    figure.figure
        img(src=path + "imgs/Zoo/DSC_0097_bubbles.jpg").small-cd
        figcaption.figure-caption.text-left Blowing bubbles for enrichment
    //- figure.figure
    //-     img(src=path + "imgs/Zoo/DSC_0249_swim3.jpg").small-cd
    //-     figcaption.figure-caption.text-left CAPTION
    figure.figure
        img(src=path + "imgs/Zoo/DSC_0254_swim4.jpg").small-cd
        //- figcaption.figure-caption.text-left CAPTION
    figure.figure
        img(src=path + "imgs/Zoo/penguin_chicks.png").small-cd
        figcaption.figure-caption.text-left Penguin Chicks&nbsp;
            a(href="http://www.marylandzoo.org/wp-content/uploads/2013/03/2012report.pdf") (Source)
    figure.figure
        img(src=path + "imgs/Zoo/DSC_0050_closedeye.jpg").small-cd
        figcaption.figure-caption.text-left One of the juvenile penguins
    figure.figure
        img(src=path + "imgs/Zoo/DSC_0051_close_eye.jpg").small-cd
        //- figcaption.figure-caption.text-left CAPTION
    figure.figure
        img(src=path + "imgs/Zoo/DSC_0040_pruning.jpg").small-cd
        figcaption.figure-caption.text-left A penguin pruning by the water
    figure.figure
        img(src=path + "imgs/Zoo/cormorant.jpg").small-cd
        figcaption.figure-caption.text-left Double-crested Cormorant
